<%= form_with model: menu, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control',placeholder: "必須" %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :eat_at %>
    <%= f.select :eat_at, Menu.eat_ats_i18n.invert, {}, { class: 'form-select' } %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control', rows: 10, placeholder: "おすすめ商品や店名、どんな気分の時などご自由に！(任意)" %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :tag_name %>
    <%= f.text_field :tag_name, value: @tag_list, class:"form-control", placeholder: ",で区切って入力してください"%>
  </div>
  <div class="form-group mb-3">
    <%= f.label :menu_image %>
    <%= f.file_field :menu_image, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
    <%= f.hidden_field :menu_image_cache %>
  </div>
  <div>
    <%= image_tag menu.menu_image.url,
                  class: 'border mb-3',
                  id: 'preview',
                  size: '300x300' %>
  </div>
  <%= f.submit class: 'btn btn-danger w-100' %>
<% end %>
