<div class="col-sm-12 col-lg-4 mb-3">
  <div id="menu-id-<%= menu.id %>">
    <div class="card mx-auto">
      <%= image_tag menu.menu_image_url, class: 'card-img-top border-bottom', size: '300x200' %>
      <div class="card-body">
        <h5 class="card-title">
          <%= menu.name%>
        </h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= image_tag menu.user.avatar_url, size: '45x45', class: 'rounded-circle mr15' %>
            <%= menu.user.name %>
          </li>
        </ul>
        <%= link_to "詳細", menu_path(menu), class: "btn btn btn-outline-success btn-sm mb-3" %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= l menu.created_at, format: :short %>
            <% if logged_in? %>
              <% if current_user.own?(menu) %>
                <%= render 'crud_menus', menu: menu %>
              <% else %>
                <%= render 'like_button', menu: menu  %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>