<div class="col-sm-12 col-lg-3 mb-3">
  <div id="menu-id-<%= menu.id %>">
    <div class="card mx-auto bg-light mb-3">
      <%= link_to menu_path(menu), class: "card-body text-dark link-color-black" do %>
        <%= image_tag menu.menu_image_url, class: 'card-img-top border-bottom', size: '300x200' %>
        <h4 class="card-title mt-3">
          <%= menu.name %>
        </h4>
        <p class="mb-2 <%= eat_at_color_if(menu.eat_at_i18n) %>">
          <%= menu.eat_at_i18n %>
        </p>
        <div class="mb-1">
          <%= image_tag menu.user.avatar_url, size: '45x45', class: 'rounded-circle mr15' %>
          <%= menu.user.name %>
        </div>
        <div>
          <% if menu.user.gender_i18n != "その他" %>
            <%= menu.user.gender_i18n %>
          <% else %>
            <div class="mb-4"></div>
          <% end %>
        </div>
          <% end %>
        <ul class="list-inline px-3">
          <li class="list-inline-item">
            <%= l menu.created_at, format: :long %>
          </li>
          <li class="list-inline-item">
            <!--postに紐づいたtag-->
            <% menu.tags.each do |tag|%>
              <%=link_to tag.name,search_tag_menus_path(tag_id: tag.id), class: "badge rounded-pill bg-primary text-decoration-none text-white"%>
            <% end %>
          </li>
          <li class="list-inline-item" style="float: right;">
            <% if logged_in? %>
              <% if current_user.own?(menu) %>
                <%= render 'crud_menus', menu: menu %>
              <% else %>
                <%= render 'like_button', menu: menu  %>
              <% end %>
            <% end %>
          </li>
        </ul>
      
    </div>
  </div>
</div>