<div class="col-sm-12 col-lg-3 mb-3">
  <div id="menu-id-<%= menu.id %>">
    <div class="card mx-auto bg-light mb-3">
      <%= link_to menu_path(menu), class: "card-body text-dark link-color-black" do %>
        <%= image_tag menu.menu_image_url, class: 'card-img-top border-bottom', size: '300x200' %>
        <h4 class="card-title mt-2">
          <%= menu.name %>
        </h4>
        <div class="<%= eat_at_color_if(menu.eat_at_i18n) %>">
          <%= menu.eat_at_i18n %>
        </div>
      <% end %>
      <div class="px-3 mb-1">
        <%= link_to user_path(menu.user), class: "link-color-black text-dark" do %>
          <%= image_tag menu.user.avatar_url, size: '45x45', class: 'rounded-circle mr15' %>
          <%= menu.user.name %>
        <% end %>
      </div>
      <div class="px-3 mb-1">
        <% if menu.user.gender_i18n != "その他" %>
          <%= menu.user.gender_i18n %>
        <% else %>
          <div class="mb-4"></div>
        <% end %>
      </div>
      
            <!--tag一覧-->
      <div class="px-3 mb-2">
        <% menu.tags.each do |tag|%>
          <%=link_to tag.name,search_tag_menus_path(tag_id: tag.id), id: "tag-link", class: "badge rounded-pill border border-danger text-decoration-none text-danger"%>
        <% end %>
      </div>
      <ul class="list-inline px-3">
        <li class="list-inline-item text-muted">
          <%= l menu.created_at, format: :long %>
        </li>
        <li class="list-inline-item" style="float: right;">
          <%= link_to "https://twitter.com/share?url=#{request.url}&text=「#{menu.name}」をシェア!", class: "mx-1 text-decoration-none", title: 'Twitter', target: '_blank' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg>
            <% end %>
        </li>
        <li class="list-inline-item" style="float: right;">
          <% if logged_in? %>
              <%= render 'menus/bookmark_button', menu: menu  %>            
          <% end %>
        </li>
      </ul>

      <ul class="list-inline px-3">
        <li class="list-inline-item">
          <%= link_to menu_path(menu), class: "text-dark link-color-black" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
              <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <%= "#{menu.comments.size}" %>
          <% end %>
        </li>
        <li class="list-inline-item">
          <% if logged_in? %>
            <% if current_user.own?(menu) %>
              <%= render 'menus/crud_menus', menu: menu %>
            <% end %>
          <% end %>
        </li>
        
        <li class="list-inline-item" style="float: right;">
          <% if logged_in? %>
            <%= link_to eats_path(menu_id: menu.id), class:"mx-1 btn btn-success btn-sm", data: { turbo_method: :post, turbo_confirm: '食べる予定にしますか？' } do %>
              食べる
              <span class="badge bg-light text-dark"><%= "#{menu.eats.size}" %></span>
            <% end %>
          <% end %>
        </li>
      </ul> 
    </div>
  </div>
</div>