<% content_for(:title, t('.title')) %>
<div class="container pt-3 mb-5">
  <%= render 'content_top' %>

  <div class="row">
      <!-- 検索フォーム -->
      <%= render 'search_form', url: likes_menus_path %>
  </div>
  <!-- メニュー一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @like_menus.present? %>
          <%= render @like_menus %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <!-- ページネーション -->
      <%= paginate @like_menus %>
    </div>
  </div>
</div>