<% content_for(:title, t('.title')) %>
<div class="container pt-3 mb-5">
  <%= render 'content_top' %>

  <div class="row">
    <!-- 検索フォーム -->
    <%= render 'search_form', url: search_tag_menus_path %>
  </div>
  <h4 class="text-center p-1 mb-3 border-bottom">
    <%= "「#{@tag.name}」に関連するメニュー" %>
  </h4>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @menus.present? %>
          <%= render @menus %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <!-- ページネーション -->
      <%= paginate @menus %>
    </div>
  </div>
</div>