<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor), class: "link-color-black"  do %>
        <%= image_tag visitor.avatar_url, class: 'rounded-circle', size: '45x45' %>
        <%= visitor.name %>さん
      <% end %>が

        <% case notification.action %>
        <% when 'bookmark' then %>
          あなたの
          <%= link_to "「#{notification.menu.name}」", notification.menu, style: "font-weight: bold;", class: "link-color-black" %>
          をブックマークしました
        <% when 'eat' then %>
          あなたの
          <%= link_to "「#{notification.menu.name}」", notification.menu, style: "font-weight: bold;", class: "link-color-black" %>
          に食べるを押しました
        <% when 'comment' then %>
          あなたの
          <%= link_to "「#{notification.menu.name}」", notification.menu, style: "font-weight: bold;", class: "link-color-black" %>
          にコメントしました
        <% end %>
      </span>
  <div class="small text-muted text-right">
    <%= l notification.created_at, format: :long %>
  <hr>
  </div> 
</div>