<div class="row">
    <div class="col-lg-3 offset-lg-3 p-2">
      <div class="card-body">
        <ul class="nav nav-lb-tab mb-6 justify-content-center" id="#" role="tablist">
          <li class="nav-item m-1 mx-4" role="presentation">
            <%= image_tag user.avatar_url, size: '70x70', class: 'rounded-circle mr15'%>
            <%= user.name %>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav nav-lb-tab mb-4 justify-content-center">
    <div class="nav-item m-1">
      <ul class="nav nav-lb-tab mb-6 justify-content-center" id="#" role="tablist">
        <li class="nav-item m-2" role="presentation">
        <%= link_to t('投稿メニュー一覧'), user_path(user), class: "btn btn-outline-danger mx-1 #{active_if('users#show')}" %>
        </li>
        <li class="nav-item m-2" role="presentation">
          <%= link_to t('お気に入り一覧'), user_likes_path(user), class: "btn btn-outline-danger mx-1 #{active_if('users#likes')}" %>
        </li>
        <li class="nav-item m-2" role="presentation">
          <%= link_to t('アクティビティ'), "#", class: "btn btn-outline-danger mx-3" %>
        </li>
      </ul>
  </div>
</div>