<div class="row">
    <div class="col-lg-4 offset-lg-3 p-2">
      <div class="card-body">
        <ul class="nav nav-lb-tab mb-6" id="#" role="tablist">
          <li class="nav-item m-1 mx-4" role="presentation" style="font-size:24px">
            <%= image_tag user.avatar_url, size: '80x80', class: 'rounded-circle mr15 mx-3'%>
            <%= user.name %>
            <% if current_user.id == user.id %>
              <%= link_to t('profiles.edit.title'), edit_profile_path, class: 'btn btn-outline-success mx-4 my-2' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
</div>


  <div class="row m-2">
    <ul class="nav nav-lb-tab mb-6 justify-content-center" id="#" role="tablist">
      <li class="nav-item m-2 mb-1" role="presentation">
      <%= link_to t('投稿メニュー一覧'), user_path(user), class: "btn btn-outline-danger mx-1 #{active_if('users#show')}" %>
      </li>
      <li class="nav-item m-2" role="presentation">
        <%= link_to t('アクティビティ'), user_activities_path(user), class: "btn btn-outline-danger mx-3 #{active_if('users#activities')}" %>
      </li>
      <li class="nav-item m-2 mb-1" role="presentation">
        <%= link_to t('お気に入り一覧'), user_bookmarks_path(user), class: "btn btn-outline-danger mx-1 #{active_if('users#bookmarks')}" %>
      </li>
    </ul>
  </div>
