<% assign_meta_tags title: (t '.title') %>
<div class="container pt-3 mb-5 mt-3">
  <div class="row">
    <div class="col-lg-4 mb-5 mx-auto border p-4 bg-light">
      <h1 class="text-center mb-4"><%= t '.title' %></h1>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: "必須" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :gender %>
          <%= f.select :gender, User.genders_i18n.invert, {}, { class: 'form-select' } %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "必須" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: "3文字以上" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class='text-center mb-3'>
        <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class='text-center mb-2'>
        <%= link_to (t '.to_login_page'), login_path %>
      </div>
      <div class='mb-2'>
      <p class='small'>
      ユーザー登録をしたことをもって
      <%= link_to '利用規約', terms_path %>
      および
      <%= link_to 'プライバシーポリシー', privacy_path %>
      のすべての条項に同意したものとみなします。
      </p>
      </div>
    </div>
  </div>
</div>