<% content_for(:title, t('.title')) %>
<div class="container pt-3 mb-5">

  <div class="row">
    <div class="col-lg-6 offset-lg-3 mb-3 p-4">
      <div class="card-body">
        <%= image_tag @user.avatar_url, size: '70x70', class: 'rounded-circle mr15'%>
        <%= @user.name %>
      </div>
    </div>
  </div>
  <!-- 掲示板一覧 -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @menus.present? %>
            <%= render partial: 'menus/menu', collection: @menus %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @menus %>
      </div>
    </div>
</div>