<%= turbo_frame_tag dom_id(eat) do %>
<div class="col-lg-6 offset-lg-3 bg-light" id="eat-<%= eat.id %>">
  <div class="card mb-1 bg-light">
    <div class="card-body">
      <div class="pb-3">
        <%= link_to user_path(eat.user), class: "link-color-black text-dark" do %>
          <%= image_tag eat.user.avatar_url, class: 'rounded-circle', size: '45x45' %>
          <%= eat.user.name %>
        <% end %>
      </div>
      <div>
        <%= link_to menu_path(eat.menu), class: "link-color-black" do %>
          <%= image_tag eat.menu.menu_image_url, size: '100x100', class: "mx-2" %>
          <%= eat.menu.name %>を食べる!
        <% end %>
        <p>
        <%= link_to menu_path(eat.menu), class: "text-decoration-none text-success" do %>
          メニューへコメントする
        <% end %>
        </p>
      </div>

      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <%= l eat.created_at, format: :long %>
        </li>
        <li class="list-inline-item" style="float: right;">
          <% if logged_in? && current_user.own?(eat) %>
            <%= link_to eat_path(eat),
                        class: 'js-delete-eat-button link-color-black',
                        data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>